html {
  margin: 0;
}

body {
  background-color: #1c2230;
  margin: 0;
  box-sizing: border-box;
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  font-family: 'Open Sans';
  position: relative;
}
/***Page-wrapper wraps the main-content**/
#page-wrapper {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.fot1 {
  font-family: 'Raleway', Courier, monospace;
}

/*Header CSS Rules*/
#header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

#brand-logo-img {
  height: auto;
  margin: 14px 0;
  max-width: 100%;
  width: 75px;
}

#nav {
  width: 60%;
}

.navbar {
  padding-left: 0;
  overflow: hidden;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}

.nav-link {
  text-decoration: none;
  padding:  3px;
  color: white;
  display: inline-block;
}

.ma-sec {
  margin-top: 50px;
  text-align: center;  
}

.img {
  height: auto;
  max-width: 100%;
  width: 400px;
}

#hd-01 {
  width: 80%;
  line-height: 1.6;
  padding: 10px;
  margin: auto;
  font-size: 1.5rem;
  
}

.prgh {
  font-size: 1.15rem;
  line-height: 1.5;
  margin: 10px auto 3%;
  padding: 3px; 
  width: auto;
  word-spacing: .08;

}

.btn {
  padding: 10px;
  width: 70%;
  border-width: 2px;
  border-style: none;
  border-radius: 20px;
  background-color: hsl(198, 60%, 50%);
  color: white;
  font-size: 18px;
}

.ma-sec:first-of-type .btn:hover {
  background-color: hsl(176, 68%, 64%);
  color: white;
  font-weight: 400;
}

#secdi-02 {
  text-align: left;
  line-height: 1;
}

#secdi-02 a {
  color: hsl(176, 68%, 64%);
}

.artic,
footer {
  margin-top: 100px;
}

/*The Quote Image CSS rules*/
#quo-imgbox {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0;
}

#quo-img {
  max-width: 100%;
  width: 30px;
  height: auto;
}

#fy-con {
  position: relative;
}

#fy-con > a:hover {
  text-decoration: underline;
  color: white;
}

#arico01 {
  position: absolute;
  top: -1px;
}

.test-artic {
  border: 1px solid hsl(219, 30%, 18%);
  border-radius: 2px;
  background-color: hsl(219, 30%, 18%);
  margin: 10px 15px;
  padding: 10px;
  
}

.test-artic:first-of-type {
  margin-top: 0;
}

.test-artic div:first-child div > p {
  margin-top: 0;
  padding: 3px;
}

.pro-pics-box {
  float: left;
  max-width: 100%;
  margin-right: 10px;
  overflow: auto;
}

.pro-pics {
  border-radius: 50%;
  width: 30px;
}

.nfg-03{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}


/**Call-to-action Section Rules*/

#calt0-act {
margin-top: 300px;
}

.mail-signup {
  background-color: hsl(219, 30%, 18%);
  border: 1px solid hsl(219, 30%, 18%);
  border-radius: 10px;
  padding: 20px 0 40px;
  position: absolute;
  bottom: 560px;
  right: 20px;
  left: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#hd-03 {
  font-size: 1.25rem;
}

.mail-signup p {
  padding: 0 10px;
  word-spacing: initial;
  font-size: 0.875rem;
}

.mail-signup .btn {
  font-family: 'Raleway', Courier, monospace;
  width: 80%;
  margin: 10px 0;
  font-weight: 700;
}

.btn-link {
  text-decoration: none;
  color: #ccc;
}

.btn:hover {
  background-color: hsl(176, 68%, 64%);
  color: white;
  font-weight: 400;
}


/* Footer CSS Rules */
#pg-footer {
  background-color: hsl(216, 53%, 9%);
  width: 100%;
}

#ftdi-01 {
  margin: 15px 15px 0;
  padding: 200px 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#ft-brand-logo {
  max-width: 100%;
  width: 150px;
  height: auto;
}

#ftdi-02 {
  display: block;
  margin-top: 30px;
}


.svlo-01 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

#loc-img {
  max-width: 100%;
  height: auto;
  width: 10px;
  display: block;
}

#ph-img {
  max-width: 100%;
  height: auto;
  width: 15px;
  display: block;

}

#em-img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 15px;
}

#prgh {
  font-size: 1.05rem;
  text-align: left;
  padding: 0 3px 3px;
}


.svlo-01 p {
  width: 80%;
  margin-top: 0;
  margin-bottom: 0;
}

#ftdi-02 > div:first-child > .svlo-01:first-of-type {
  align-items: flex-start;
}

.svlo-01:nth-of-type(2),
.svlo-01:last-of-type {
  margin-top: 10px;
}

/* Footer Links CSS Rules */
.ft-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 20px;
}

.ft-list-item {
  margin: 10px 0;
}

.ft-link {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  padding: 0;
  margin-top: 10px;
}

/* Social-Icons CSS Rules */

.so-ic {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  justify-content: center;
  margin-bottom: 0;
}

.so-ic > li {
  padding: 3px;
  margin: 0 5px;
}

.so-ic .ft-link {
  padding: 0;
  font-size: 0.875rem;
}

.so-ic .ft-link > i:hover {
  color: hsl(176, 68%, 64%);
  border-color: hsl(176, 68%, 64%);
}

.circle-icon {
  width: 15px;
  height: auto;
  border: 1px solid hsl(0, 0%, 100%);;
  border-radius: 50%;
  text-align: center;
  line-height: 15px;
  vertical-align: middle;
  padding: 5px;
}


@media screen and (min-width: 768px) {  

  #nav {
    width: 30%;
  }

  #hd-01 {
    width: 70%;
    margin: 0 auto;
  }

  .btn {
    width: 40%;  
  }

  /**Call-to-action Section Rules*/

  .mail-signup {
    width: 80%;
    margin: 0 auto;
  }

  #hd-03 {
    font-size: 1.75rem;
  }

  .mail-signup p {
    padding: 0 20px;
    font-size: 1.25rem;
  }

  .mail-signup .btn {
    width: 60%;
  }

  /* Footer CSS Rules */

  #ftdi-01 {
    padding: 200px 20px 50px;
    
  }

  #prgh {
    font-size: 1.05rem;
    text-align: left;    
  }

  /* Footer Links CSS Rules */
  .ft-link {
    font-size: 1rem;
  }
  
}

@media screen and (min-width: 1024px) {  
  #nav {
    width: 30%;
  } 

  .nav-link:hover {
    text-decoration: underline;
    font-weight: 600;
    
  }

  #hd-01 {
    width: 50%;
    font-size: 2.5rem;
  }

  .prgh {
    font-size: 1.25rem;
    width: 42%;
    margin: 10px auto;
  }

  .btn {
    width: 20%;  
  }

  #sec02 {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
  }

  .articp {
    width: 60%;
    padding: 10px;
    margin:  0 auto;
}

  #sec02 img{
    height: 100px;
  }
  
  article.artic {
    width: 40%;
  }

  #secdi-02 {
    align-self: center;
    width: 40%;
    font-size: 1.25rem;
  }

  .ma-sec:nth-last-of-type(3)  .artic {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  .ma-sec:nth-last-of-type(3) .img {
    max-width: 100%;
    width: 70%;
    height: auto;
  }

  #arico01 {
    position: absolute;
    top: 5px;
  }
  
  
  /* The Testimonial section CSS rules */
  #test-sec {
    position: relative;
  }
  
  #test-sec.artic {
    margin-top: 100px;
  }
  
  #test01 {
    display: flex;
    justify-content: space-around;  
    position: absolute;
    top: 33px;
    left: 10px;  
  } 

  .test-artic {
    width: 25%;
    border: 1px solid hsl(219, 30%, 18%);
    border-radius: 5px;
    background-color: hsl(219, 30%, 18%);
    margin: 10px 15px;
    padding: 20px;
    
  }
  
  .test-artic {
    margin-top: 0;
  }
  
  .test-artic div:first-child  > p {
    margin-top: 0;
    padding: 3px;
  }

  /*The Quote Icon CSS rules*/

  #quo-imgbox {
    position: relative;
    left: 15px;
  }
  
  #quo-img {
    width: 70px;
  } 


  /**Call-to-action Section Rules*/
  #calt0-act {
    margin-top: 300px;
    margin-bottom: 400px;
  }

  .mail-signup {
    width: 60%;
    margin: 0 auto;
    bottom: 330px;
  }

  .mail-signup p {
    line-height: initial;
    width: auto;
    font-size: 1.25rem;
  }

  .mail-signup .btn {
    width: 40%;
  }

  /* Footer CSS Rules */
  #pg-footer {
    background-color: hsl(216, 53%, 9%);
    width: 100%;
    font-size: 1.05rem;
  }

  #ftdi-01 {
    margin-left: 20px;
    padding: 200px 20px 50px;
    
  }

  #ftdi-02 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  #ftdi-02 > div:first-child {
    width: 35%;
    margin-top: 20px;

  }
  
  #ftdi-02 div:nth-child(2) {
    width: 20%;
    margin-top: 20px;
    
  }
  
  .svlo-01  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%;
  }

  #prgh {
    width: 75%;
  }

  .svlo-01 p {
    width: 80%;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .svlo-01:first-of-type, 
  .svlo-01:nth-of-type(2),   
  #ftdi-02 div:nth-child(2) > .svlo-01:last-of-type  {
    margin-top: 10px;
    width: 100%;
  }
  
  /* Footer Links CSS Rules */
  .ft-list {
    width: 10%;
    margin-top: 20px;
  } 

  .so-ic {
    width: 15%;
    margin-top: 20px;

  }


}